---
layout: default
---
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['City', 'Trips'], {% for cat in site.categories %} 
          ['{{cat | first}}', {{ cat | last | size }}],
          {% endfor %}

        ]);

        var options = {
          colorAxis: {colors: ['#85A5CC', '#1A1F2B']},  
        };

        var euro_options = {
          region: '150',
          colorAxis: {colors: ['#85A5CC', '#1A1F2B']},
        };


        var chart = new google.visualization.GeoChart(document.getElementById('world_chart_div'));
        chart.draw(data, options);

        var euro_chart = new google.visualization.GeoChart(document.getElementById('europe_chart_div'));
        euro_chart.draw(data, euro_options);


    };
    </script>
<section class="content">

  <h2>Mundo</h2>
  <div id="world_chart_div" style="width: 600px;"></div>
  
  <h2>Europa</h2>
  <div id="europe_chart_div" style="width: 600px;"></div>

  <h2>Banderas</h2>
  <p>Una lista de los países por los que he estado.</p>
</section>
<ul class="entries">
  {% for cat in site.categories %}
  <li>
      <img src="http://www.geonames.org/flags/x/{{cat[0] | downcase}}.gif" width="30px" />
  </li>
  {% endfor %}
</ul>