---
layout: default
---
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
        	['City'], 
      		{% for post in  site.categories.[page.country] %}
			['{{ post.title }}'],
			{% endfor %}
        ]);

        var options = {
        	region: '{{page.country}}',        
        	displayMode: 'markers',
			colorAxis: {colors: ['#85A5CC', '#1A1F2B']},  
        };

        var chart = new google.visualization.GeoChart(document.getElementById('world_chart_div'));
        chart.draw(data, options);
    };
    </script>
<section class="content">

  <h2><img src="http://www.geonames.org/flags/x/{{page.country | downcase}}.gif" width="30px" />
  	{{page.country_name}}
  </h2>
<div class="row-fluid marketing">
	<div class="span6">
      	<h2>Mapa</h2>
		<div id="world_chart_div"></div>
	</div>

	<div class="span6">
      	<h2>Ciudades</h2>
		<ul>
		{% for post in  site.categories.[page.country] %}
		<li><a href="{{ post.url }}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
    </div>
</div>
</section>